.footer-bg {
  background-color: var(--bg2);
  color: var(--cor4);
}
.footer-container {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.footer-container p {
  color: var(--cor4);
}
