body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: var(--cor4);
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}
