.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header-logo a,
.header-menu a {
  color: var(--cor1);
}
.header-menu a:hover {
  color: var(--cor6);
}
.header-logo a {
  margin-right: 10px;
}
.header-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .header-container {
    display: block;
    text-align: center;
  }
  .header-menu ul {
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
  }
}
