.superinfo-bg {
  background-color: var(--bg3);
  color: var(--cor1);
}
.superinfo-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}
.superinfo-container a {
  color: var(--cor1);
}
