:root {
  --cor1: #000;
  --cor2: #fff;
}
.cor1 {
  color: var(--cor1);
}
.cor2 {
  color: var(--cor2);
}

:root {
  --bg1: #f43;
  --bg2: #e00;
}
.bg1 {
  background-color: var(--bg1);
}
.bg2 {
  background-color: var(--bg2);
}
